.p1{
    background-color: black;
    padding: 30px;
    color: white;
    border-radius: 50px;

}
#p2{
    text-align: center;
    color: gray;
    font-weight: bold;
    font-style: italic;
}
h3{
    background-color: crimson;
    border-radius: 50px;
    color: white;
    border-left: 3px solid black;
    padding: 15px;
}